*.root
*.o
*.so
*.d
discussion.txt
fitting/*.txt
plotting/alice*.txt
*split.txt
hepdata.txt
*.pdf
*.png
*.log
*.gz
*.tgz
*old.cpp
test.C
Tree2Datasets
Tree2DatasetsMC
Fit*DDataPbPb*
root_files
tutorial
2014*
*.dSYM
/.project
#*#
